*
{
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html
{
    font-size: 10px;
    font-family: 'Roboto' , sans-serif ;    
}

body
{
    width: 100%;
    height: 100%;
    background: url("Untitled design33.png") no-repeat center fixed ;
    background-color: #eeeeee;
    background-size: cover;
    z-index: 0;
    margin: 0;
}

section
{
    padding: 6rem 0;
    scroll-behavior: smooth;
}

h1, h5, p, i, a ,h4, ul li
{
    color: rgb(71, 71, 71);
}

a
{
    text-decoration: none;
    color: #00C2CB;
}

p
{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}


/*----------------------Reuse----------*/

.container
{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading
{
    text-align: center;
    margin-bottom: 10rem;

}

.section-heading h1
{
    font-size: 7rem;
    font-family: 'The Historia Demo', sans-serif;
    user-select: none;

    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}



.section-heading h1::before,
.section-heading h1::after
{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before
{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h5
{
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right
{
    margin-right: 5rem;
}


/*---------------------HEADER-------------------*/


header
{
    width: 100%;
    height: 100vh;
    margin-top: 0;
    padding-top: 1rem;
}
  
.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75rem;
}
  
.sidenav a 
{
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: #ffffff;
    display: block;
    transition: 1s;
    margin-bottom: 3rem;
    border-bottom: 2px solid rgba(34, 34, 34, 0.377);
}
  
.sidenav a:hover 
{
    background-color: #d1d1d1;
    color: #5bb0f5;
}
  
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 6rem;
    margin-left: 3.1rem;
}
  
.sidebar-social-media ul li
{
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.sidebar-social-media
{
    text-align: center;
    margin-bottom: 0;
    margin-top: 5rem;
}

.sidebar-social-media i
{
    font-size: 3rem;
    transition: color 650ms;
    color: white;
}

#main-body
{
    transition: margin-left 1.8s;
    padding: 1rem;
}

.landing-text
{
    position: relative;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1
{
    font-size: 10rem;
    font-family: 'The Historia Demo', sans-serif;
    user-select: none;
}

.landing-text h4
{
    font-size: 2rem;
    font-weight: 200;
}
.landing-text .hello
{
    font-size: 4rem;
}


/*---------------------About-------------------*/

.about .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;
}

.about .container2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.about .about-info ul li
{
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-decoration: none;
}

.about .about-info .icon
{
    width: 40px;
    height: 40px;
    background: rgb(216, 216, 216);
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 22px;
    position: relative;
}

.about .about-info .icon i
{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(85, 197, 32);
}

.about-heading
{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
    color: thistle;
}

.about-heading h1 
{
    font-size: 10rem;
    opacity: .3;

}

.about-heading h5
{
    font-size: 2rem;
    font-weight: 300;
}

.profile-img
{
    flex: 1;
    margin-right: 5rem;
}
.profile-img2
{
    flex: 1;
    margin-left: 5rem;
}
.about-details
{
    flex: 1;
}


.social-media ul li
{
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.social-media
{
    text-align: center;
    margin-top: 5rem;
}

.social-media i
{
    font-size: 4rem;
    transition: color 650ms;
}

.fa-facebook-square:hover
{
    color: #4267b2;
}

.fa-twitter:hover
{
    color: #38a1f3;
}


.fa-linkedin:hover
{
    color: #0e76a8;
}

.social-media ul li
{
    margin: 0 2rem;
}

/*---------------------Skills-------------------*/

.my-skills
{
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
     grid-gap: 2.5rem;
     text-align: center;
     margin-bottom: 10rem;
}

.skill
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    margin-bottom: 10rem;
}

.skill h1
{
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 2rem -2px 2rem 0;
    color: rgb(43, 43, 43);
}

.skill p
{
    font-weight: 100;
    color: rgb(43, 43, 43);
}



.icon-container i
{
    color: rgb(43, 43, 43);
    font-size: 6rem;
    margin: auto;
}




/*--------------Tools------------*/


.tools-technologies .column {
    float: left;
    justify-content: center;
    text-align: left;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    padding-left: 20rem;
    margin-bottom: 30rem;
  }
.tools-technologies .column .tool
{
    padding-bottom: 2rem;
    
}



/*--------------concepts----------------*/

.skills-section2
{
    background-color: #d1d1d1;
    margin: 0 3rem;
    height: 100vh;

}

.concepts-icon-container
{
    width: 10rem;
    height: 10rem;
    border: 3px solid #9c9c9c;
    background-color: #b9b9b9;
    display: flex;
    transform: rotate(45deg);
}

.concepts-icon-container i
{
    color: rgb(43, 43, 43);
    font-size: 6rem;
    margin: auto;
    transform: rotate(-45deg);
}




/*------------Timeline----------------*/

.timeline ul
{
    border-left: 4px solid rgba(34, 34, 34, 0.377);
    background-color: rgba(0,0,0,0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    width: 70%;
}

.timeline h1
{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .5;
}

.timeline p
{
    font-size: 1.5rem;
}

.timeline .date
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type
{
    padding: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after
{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY((-50%));
}

.timeline .date::before
{
    content: attr(data-date);
    left: -22rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.8rem;
    color: rgb(43, 43, 43);
}

.timeline .date::after
{
    content: '';
    box-shadow: 0 0 0 4px #222222;
    border-radius: 100%;
    left: -5.9rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color:  rgba(34, 34, 34, 0.377);
}


/*------------Contact----------------*/


form
{
    width: 40%;
    margin: 0 auto;
}

form label
{
    font-size: 1.5rem;
}

input,
select
{
    width: 100%;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 5px;
    background: transparent;
    border: 0.2rem solid rgba(46, 46, 46, 0.5);
    border-radius: 0.5rem;
}

textarea
{
    width: 100%;
    height: 10rem;
    padding: 1rem;
    margin-bottom: 5px;
    background: transparent;
    border: 0.2rem solid rgba(75, 75, 75, 0.5);
    border-radius: 0.5rem;
    font-family: 'Roboto' , sans-serif;
    color: rgb(71, 71, 71);
    background: transparent;
    font-size: 1.5rem;
}
select
{
    color: rgba(71, 71, 71,0.7);
    background: transparent;

}
select .dropdown
{
    width: 100%;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 5px;
    outline-color: #fd57bf;
    background: transparent;
    border: 0.1rem solid rgba(75, 75, 75, 0.2);
    border-radius: 0.5rem;
}



input[type="submit"]
{
    width: initial;
    height: 4rem;
    color: #eeecee;
    background-color: #13a513;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
    border: none;
}



/*------------Footer----------------*/


.copyright
{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
    margin-bottom: -2rem;
}

.up
{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    bottom: 3rem;
    right: 5rem;
    border-radius: 100%;
    animation: pulse 2s infinite;
    cursor: pointer;
} 

.up i
{
    color: #16162d;
    font-size: 3rem;
    margin-top: 10px;
}

.copyright p
{
    font-size: 1.4rem;
    color: lavender;
    letter-spacing: .2rem;
}

@keyframes pulse
{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0 );

    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);

    }
}

.Menubtn
{
    top: 0;
    margin: 2rem 3rem;
    color: #00C2CB;
    position: fixed;
    z-index: 10;
}

@media screen and (max-height: 28.1rem) 
{
    .sidenav {padding-top: 0.95rem;}
    .sidenav a {font-size: 1.125rem;}
}


/*--------------------------------------------------------------*/


@media screen and (max-width: 100px)
{
    body
    {
        background: url("Untitled design.png") no-repeat center fixed ;
        background-size: cover;
        overflow-x: hidden;
    }

    .landing-text h1
    {
        font-size: 15rem;
    }
    .landing-text h4
    {
        font-size: 1.7;
    }
    .about-heading h1
    {
        font-size: 8rem;
    }
    .section-heading h1
    {
        font-size: 3rem;
    }
    .about-details
    {
        flex-direction: initial;
    }
    .about-details li
    {
        margin: 0 2;
    }
    .icon-container
    {
        width: 7rem;
        height: 7rem;
    }
    .timeline ul
    {
        margin: 0 0 0 auto;
    }
    .timeline .date::before
    {
        left: -20rem;
    }
    .timeline .date::after
    {
        left: -5.9rem;
    }
    form
    {
        width: 70%;
    }
}

@media screen and (max-width: 640px)
{
    *
    {
        scroll-behavior: smooth;

    }
    body
    {
        background: url("Untitled design2.png") no-repeat center fixed ;
        background-size: cover;
        overflow-x: hidden;
    }

    .landing-text .hello
    {
        font-size: 4rem;
        margin-top: 20rem;
    }
    .landing-text h1
    {
        font-size: 10rem;
    }
    .landing-text h4
    {
        font-size: 2.2rem;
    }

/*------------------About---------------------------------*/

    .about .container,
    .about .container2
    {
        flex-direction: column;
        width: 70%;
        margin-bottom: 5rem;
    }
    .about-container .social-media ul li i
    {
        display: hidden;
    }
    .about-container
    {
        flex-direction: column;
    }
    .about-heading h1
    {
        font-size: 5rem;
        order: 2;
    }
    
    .about .container  p
    {
        order: 3;
    }
    .container2 .profile-img2
    {
        display: none;
    }
   
    .about .container2 .about-details ul li
    {
        font-size: 1.8rem;
    }
   
    .about .container2 .about-details .icon 
    {
        font-size: 1.8rem;
        width: 30px;
        height: 30px;
    }
   


/*------------------Languages---------------------------------*/

    .skills-section1 .container .section-heading h1
    {
        font-size: 5rem;
    }

    .skills-section1 .container .my-skills h1
    {
        font-size: 2rem;
        margin-top: 0.8rem;
    }
    .skills-section1 .container .my-skills p
    {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .skills-section1 .container .my-skills1 i
    {
        font-size: 5rem;
        margin-bottom: 0;
    }
    .skills-section1 .container .skill
    {
        margin-top: 0;
        margin-bottom: 0;
    }

/*---------------------Concepts------------------------------*/
    
.skills-section2 .container .section-heading h1
    {
        font-size: 5rem;
    }
    .concepts-icon-container
    {
        width: 6rem;
        height: 6rem;
        border: 3px solid #9c9c9c;
        background-color: #b9b9b9;
        margin-bottom: 1rem;
        display: flex;
        transform: rotate(45deg);
    }

    .concepts-icon-container i
    {
        color: rgb(43, 43, 43);
        font-size: 4rem;
        margin: auto;
        transform: rotate(-45deg);
    }

    .skills-section2 .container .skill
    {
        margin-bottom: 1rem;
    }
    .skills-section2 .container .skill h1
    {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .skills-section2 .container .skill p
    {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

/*--------------------------Tools-----------------------------------*/


    .tools-section .section-heading h1
    {
        font-size: 5rem;
    }
    .tools-section 
    {
        margin-bottom: 10rem;
    }
    .tools-technologies .column {
        float: left;
        width: 50%;
        justify-content: center;
        text-align: left;
        font-size: 1.4rem;
        letter-spacing: 0.3rem;
        padding-left: 100%;
        padding-right: 95%;        
        margin-bottom: 30rem;
      }
    .tools-technologies .column .tool
    {
        padding-bottom: 1rem;
        display: grid;
    }

/*--------------------Portfolio-------------------------------*/

    .portfolio .container h1
    {
        font-size: 5rem;
    }
    .portfolio-img
    {
        margin: 0 0 7rem 0;
    }
    .portfolio-item
    {
        flex-direction: column;
    }
    .portfolio-img
    {
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description
    {
        margin: 0;
        order: 2;
    }

    
/*--------------------Portfolio-------------------------------*/

    .timeline p
    {
        font-size: 1.5rem;
    }
    .timeline .date::before
    {
        font-size: 1.4rem;
    }
    .timeline ul
    {
        width: 80%;
    }
   
/*--------------------Form-------------------------------*/

    form
    {
        width: 80%;
    }
    .up
    {
        right: 2rem;
    }

/*--------------------Footer-------------------------------*/

.copyright p

    {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1080px)
{
    *
    {
        scroll-behavior: smooth;

    }
    body
    {
        background: url("Untitled design2.png") no-repeat center fixed ;
        background-size: cover;
        overflow-x: hidden;
    }

    .landing-text .hello
    {
        font-size: 4rem;
    }
    .landing-text h1
    {
        margin-top: 0;
        font-size: 10rem;
    }
    .landing-text h4
    {
        margin-top: 0;
        font-size: 2.3rem;
    }

/*------------------About---------------------------------*/

    .about .container,
    .about .container2
    {
        width: 70%;
        margin-bottom: 5rem;
    }
    .about-container .social-media ul li i
    {
        display: hidden;
    }
    .about-container
    {
        flex-direction: column;
    }
    .about-heading h1
    {
        font-size: 6rem;
        order: 2;
    }
    
    .about .container  p
    {
        order: 3;
    }
    
   
    .about .container2 .about-details ul li
    {
        font-size: 1.8rem;
    }
   
    .about .container2 .about-details .icon 
    {
        font-size: 1.8rem;
        width: 30px;
        height: 30px;
    }
   


/*------------------Languages---------------------------------*/

    .skills-section1 .container .section-heading h1
    {
        font-size: 6rem;
    }

    .skills-section1 .container .my-skills h1
    {
        font-size: 2.3rem;
        margin-top: 1rem;
    }
    .skills-section1 .container .my-skills p
    {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .skills-section1 .container .my-skills1 i
    {
        font-size: 5rem;
        margin-bottom: 0;
    }
    .skills-section1 .container .skill
    {
        margin-top: 0;
        margin-bottom: 0;
    }

/*---------------------Concepts------------------------------*/
    
.skills-section2 .container .section-heading h1
    {
        font-size: 5rem;
    }
    .concepts-icon-container
    {
        width: 7rem;
        height: 7rem;
        border: 3px solid #9c9c9c;
        background-color: #b9b9b9;
        margin-bottom: 1rem;
        display: flex;
        transform: rotate(45deg);
    }

    .concepts-icon-container i
    {
        color: rgb(43, 43, 43);
        font-size: 4.5rem;
        margin: auto;
        transform: rotate(-45deg);
    }

    .skills-section2 .container .skill
    {
        margin-bottom: 1rem;
    }
    .skills-section2 .container .skill h1
    {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .skills-section2 .container .skill p
    {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

/*--------------------------Tools-----------------------------------*/


    .tools-section .section-heading h1
    {
        font-size: 5rem;
    }
    .tools-section 
    {
        margin-bottom: 10rem;
    }
    .tools-technologies .column {
        float: left;
        width: 50%;
        justify-content: center;
        text-align: left;
        font-size: 1.4rem;
        letter-spacing: 0.3rem;
        padding-left: 15%;
        padding-right: 15%;
        margin-bottom: 30rem;
      }
    .tools-technologies .column .tool
    {
        padding-bottom: 1rem;
        display: grid;
    }


/*--------------------Timeline-------------------------------*/
    .education
    {
        padding-left: 15%;
    }
    .timeline h1
    {
        font-size: 2rem;
    }
    .timeline p
    {
        font-size: 1.6rem;
    }
    .timeline .date::before
    {
        font-size: 2rem;
    }
    
   
/*--------------------Form-------------------------------*/

    form
    {
        width: 60%;
    }
    .up
    {
        right: 2rem;
    }

/*--------------------Footer-------------------------------*/

.copyright p

    {
        font-size: 1.4rem;
    }
}