*
{
    padding:0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
    font-family: 'Roboto' , sans-serif ;
    
}

body
{
    width: 100%;
    height: 100%;
    background: url("sitebg.jpg") no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
}

section
{
    padding: 6rem 0;
}

h1, h5, p
{
    color: #eee;
}

a
{
    text-decoration: none;
    color: #eee;
}

p
{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}


/*----------------------Reuse----------*/

.container
{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading
{
    text-align: center;
    margin-bottom: 10rem;

}

.section-heading h1
{
    font-size: 5rem;
    color: rgba(255,255,255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after
{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before
{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h5
{
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right
{
    margin-right: 5rem;
}


/*---------------------HEADER-------------------*/


header
{
    width: 100%;
    height: 100vh;
}


.landing-text
{
    position: relative;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1
{
    font-size: 10rem;
    font-family: 'The Historia Demo', sans-serif;
    user-select: none;
}

.landing-text h4
{
    font-size: 2rem;
    font-weight: 200;
    color: #eee;
}
.landing-text .hello
{
    font-size: 4rem;
}


/*---------------------About-------------------*/

.about .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.about .about-info
{
    align-items: center;
}

.about .about-info ul li
{
    display: flex;
    margin-left: 40%;
    justify-content: left;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-decoration: none;
    color: #eee;

}
.about .icon i
{
    margin-right: 3rem;
}
.about-heading
{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;

}

.about-heading h1 
{
    font-size: 10rem;
    opacity: .3;

}

.about-heading h5
{
    font-size: 2rem;
    font-weight: 300;
}

.profile-img
{
    flex: 1;
    margin-right: 5rem;
}

.about-details
{
    flex: 1;

}

.social-media ul li
{
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.social-media
{
    text-align: center;
    margin-top: 5rem;
}

.social-media i
{
    font-size: 4rem;
    transition: color 650ms;
}

.fa-facebook-square:hover
{
    color: #4267b2;
}

.fa-twitter:hover
{
    color: #38a1f3;
}


.fa-linkedin:hover
{
    color: #0e76a8;
}

.social-media ul li
{
    margin: 0 2rem;
}

/*---------------------Skills-------------------*/

.my-skills
{
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
     grid-gap: 2.5rem;
     text-align: center;
     margin-bottom: 10rem;
}

.skill
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    margin-bottom: 10rem;
}

.skill h1
{
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 2rem -2px 2rem 0;
    color: #eee;
}

.skill p
{
    font-weight: 100;
    color: #eee;
}



.icon-container i
{
    color: #ffffff;
    font-size: 5rem;
    margin: auto;
}




/*--------------Tools------------*/

.tools-technologies 
{
    margin-bottom: 10rem;
}
.tools-technologies .column {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    padding-left: 20rem;
    margin-bottom: 30rem;
  }
.tools-technologies .column .tool
{
    padding-bottom: 2rem;
    
}



/*--------------concepts----------------*/

.concepts-icon-container
{
    width: 10rem;
    height: 10rem;
    border: 3px solid #c9c9c9;
    background-color: #494949;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.concepts-icon-container i
{
    color: #ffffff;
    font-size: 6rem;
    margin: auto;
    transform: rotate(-45deg);
}



/*---------------------portfolio-------------------*/


.portfolio-item
{
    display: flex ;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.portfolio-item:last-child
{
    margin-bottom: 0;
}

.portfolio-img
{
    flex: 1;
}

.portfolio-description
{
    flex: 1;
}

.portfolio-description h5
{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

.portfolio-description h1
{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description .cta
{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3882ff;
    transition: color 650ms;
}

.portfolio-description .cta:hover
{
    color: #153777;
}



/*------------Timeline----------------*/

.timeline ul
{
    border-left: 4px solid #ffe838;
    background-color: rgba(0,0,0,0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    width: 70%;
}

.timeline h1
{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .5;
}

.timeline p
{
    font-size: 1.5rem;
}

.timeline .date
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type
{
    padding: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after
{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY((-50%));
}

.timeline .date::before
{
    content: attr(data-date);
    left: -22rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.8rem;
    color: #eee;
}

.timeline .date::after
{
    content: '';
    box-shadow: 0 0 0 4px #ffe838;
    border-radius: 100%;
    left: -5.9rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}


/*------------Contact----------------*/


.contact
{
    background-color: #e2e2e2;
}

form
{
    width: 40%;
    margin: 0 auto;
}

form label
{
    font-size: 1.5rem;
}

input,
select
{
    width: 100%;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 5px;
    outline-color: #fd57bf;
    background: transparent;
    border: 0.1rem solid rgba(75, 75, 75, 0.2);
    border-radius: 0.5rem;
}

textarea
{
    width: 100%;
    height: 10rem;
    padding: 1rem;
    margin-bottom: 5px;
    outline-color: #fd57bf;
    background: transparent;
    border: 0.1rem solid rgba(75, 75, 75, 0.2);
    border-radius: 0.5rem;
}

select .dropdown
{
    width: 100%;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 5px;
    outline-color: #fd57bf;
    background: transparent;
    border: 0.1rem solid rgba(75, 75, 75, 0.2);
    border-radius: 0.5rem;
}

input[type="submit"]
{
    width: initial;
    height: 5rem;
    color: #221e22;
    background-color: #13a513;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}



/*------------Footer----------------*/


.copyright
{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up
{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    animation: pulse 2s infinite;
    cursor: pointer;
} 

.up i
{
    color: #16162d;
    font-size: 3rem;
    margin-top: 10px;
}

.copyright p
{
    font-size: 1.4rem;
}

@keyframes pulse
{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0 );

    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);

    }
}

  
.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(36, 36, 36);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75rem;
}
  
.sidenav a 
{
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 3rem;
    color: #ffffff;
    display: block;
    transition: 1s;
    margin-bottom: 3rem;
}
  
.sidenav a:hover 
{
    color: #f1f1f1;
}
  
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 6rem;
    margin-left: 3.1rem;
}
  
#main-body
{
    transition: margin-left 1.8s;
    padding: 1rem;
}

.Menubtn
{
    top: 0;
    margin: 3rem 3rem;
    color: #eee;
    position: fixed;
    z-index: 10;
}

@media screen and (max-height: 28.1rem) 
{
    .sidenav {padding-top: 0.95rem;}
    .sidenav a {font-size: 1.125rem;}
}



/*--------------------------------------------------------------*/



